:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --border-color: #ECECEC;
  --border-cards-color: #E5E5E5;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border-bottom: var(--border-color);

  /* outline: 2px solid tomato; */
}
/* Колір основного тексту #212121*/
/* Вторинний колір тексту #757575 */
/* Акцент #2196F3 */
/* Білий #FFFFFF */
/* Бекграунд #E5E5E5 */
/* Футер #2F303A */
/* Бекграунд Наша команда #F5F4FA */

ul {
  list-style: none;
}

/* header */
.header {
  height: 80px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-cards-color)
} 
.header .container {
  height: 80px;
  display: flex;
  align-items: center;
  }
/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  width: 145px;
  height: 31px;
  display: flex;
  align-items: center;
  }
.main-nav .logo {
  display: flex;
  align-items: center;
}
.logo-web {
  color: var(--accent-color);
}

/* Site nav */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .link {
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* Auth-nav list */
.auth-nav {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
}
.auth-nav .link {
  color: var(--secondary-text-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link:hover .item-ico,
.auth-nav .link:focus .item-ico {
  fill: var(--accent-color)
}

.hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
}
/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  width: 696px;
  letter-spacing: 0.06em;
  margin-left: 252px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  outline: 1px solid rgb(59, 57, 57);
  margin-left: auto;
  margin-right: auto;
  background-image:
   /* linear-gradient(
    to right,
     rgba(196, 196, 196, 1)
     rgba(47, 48, 58, 0.4)), */
   url("../images/img_overlay.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section */
.section-1 {
  background-color: var(--primary-bg-color);
}
.section-2 {
  background-color: var(--third-bg-color);
}
.section-3 { 
 background-color: var(--third-bg-color)
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Features */
.section-title {
  margin-bottom: 0px;
}
.future-icon {
  display: block;
  width: 70px;
  height: 70px;
}
.feature-list {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 1170px;
}
.feature-list .list {
  width: 270px;
  height: 101px;
}
.feature-list .list + .list {
  margin-left: 30px;
}
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.feature-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  width: 270px;
  height: 101px;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 0px;
}
.feature-list > :last-child .text {
  margin-bottom: 0px;
}
.activity-container {
  padding-top: 94px;
  padding-left: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  height: 290px;
}

/* activity */
.section {
  padding-bottom: 94px;
}
.activity {
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  padding-left: 0px;
}
.activity .item + .item {
  margin-left: 30px;
}
/* button */
.button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  display: 200, 50;
  border: var(--accent-color);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10, 32, 10, 32;
  margin-top: 30;
}
/* our team */
.section-3 {
  padding-top: 94px;
}
.team {
  display: flex;
  margin-top: 50px;
  padding-bottom: 94px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.team .card + .card {
  margin-left: 30px;
}
.card {
  width: 270px;
  height: 368px;
  border: 1px solid var(--border-cards-color)#E5E5E5;
  background-color: var(--primary-bg-color)
}
.infocard {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 0px;
}
.card-image {
  display: block;
}
.person {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 19px;
}
.profession {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.team > :last-child .profession {
  margin-bottom: 0px;
}
.actions { 
  display: flex;
  justify-content: center;
   
}
.button-spr {
  width: 44px;
  height: 44px;
  display: block;
}
/* footer */
.footer-space {
  background-color: var(--secondary-bg-color);
  margin-bottom: 0px;
  height: 252px;
}
.footer-space .container {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  }
.footer-space .logo-studio {
  color: var(--primary-white-color);
}
.adr {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 0px;
}
.em-tel {
  padding-left: 0px;
  margin-bottom: 0px;
}
.footer-space .link {
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
/* portfolio */
.select {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  /* margin-right: 8px; 
   */
  text-align: center;

}
.hidden {
  margin-top: 0px;
  margin-bottom: 0px;
}
.select {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  }

.select .link:hover,
.select .link:focus
 .cards .text { 
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 8px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  height: 38px;
}
.select .link {  
  display: block;
}
.filter-button {
  color:var(--primary-text-color);
  background-color: var(--third-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63; 
  text-align: center;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 8px;
  border: 1px solid var(--third-bg-color);
  border-radius: 4px;
  height: 38px; 
}
/* .select .filter */
/* .select-button {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16;
  line-height: 1.88;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 8px;
  border: 1px solid var(--third-bg-color);
  background-color: var(--third-bg-color);
  border-radius: 4px;
} */
/* .select-button .link {
  font-weight: 400;
  font-size: 16;
  line-height: 1.88;
  text-align: center;   
  padding-left: 22px;
  /* padding-right: 22px; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* margin-right: 8px;
  border: 1px solid var(--third-bg-color);
  background-color: var(--third-bg-color);
  border-width: 0px;
  border-radius: 4px;
} */ 
  /* button:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  height: 38px;
  padding: 6px, 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 8px;
} */

.links {
  display: flex;
  flex-wrap: wrap; 
}
/* portfolio  cards*/
.cards {
 width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
 }
 .item: nth-child (3n) {
  margin-right: 0px;
} 
.cards .item {
  width: calc ((100%-60)/3);
  /* width: 370px; */
  height: 404px;
  margin-right: 27px;
  margin-bottom: 30px;
  padding-left: 0px;
  margin-left: 0px;
  box-sizing: border-box;
  border: 1px solid var(--border-cards-color)
}
.section-p {
  width: 1220px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}
.container-p {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
.item .text {
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.text-filter {
  padding-left: 24px;
  padding-left: 20px;
}
/* sprite */
.button-spr {
  padding: 0;
  border: none;
}
.button-icon {
  width: 100px;
  height: 100px;
}